html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.list .item .watch {
  background-color: white;
  background-image: -webkit-linear-gradient(white, #ebeff5);
  background-image: linear-gradient(white, #ebeff5);
  background-color: white;
  border: 1px solid #aeb1b5;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #69707a;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 0.1em;
  line-height: 38px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms; }
  .list .item .watch:hover {
    border-color: #69707a; }
  .list .item .watch:active {
    background: #ebeff5;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); }

.header .heading .tagline, .list .item .name {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 900; }

.header .heading .hello, .list .item .nationality {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

@-webkit-keyframes open-curtain {
  0% {
    opacity: 0;
    width: 0; }
  30% {
    opacity: 1;
    width: 0; }
  100% {
    opacity: 1;
    width: 463px; } }
@-moz-keyframes open-curtain {
  0% {
    opacity: 0;
    width: 0; }
  30% {
    opacity: 1;
    width: 0; }
  100% {
    opacity: 1;
    width: 463px; } }
@keyframes open-curtain {
  0% {
    opacity: 0;
    width: 0; }
  30% {
    opacity: 1;
    width: 0; }
  100% {
    opacity: 1;
    width: 463px; } }
@keyframes swoosh {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
html {
  background: #7a2924 url("../images/pattern.png") repeat center top;
  color: #69707a;
  font-size: 12px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-width: 300px;
  text-align: center;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Montserrat", Arial, sans-serif; }

article,
header,
footer,
hgroup,
nav {
  display: block; }

.container {
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 700px) {
    .container {
      width: 620px; } }
  @media screen and (min-width: 1000px) {
    .container {
      width: 940px; } }
  @media screen and (min-width: 1300px) {
    .container {
      width: 1260px; } }

.header {
  background: #121212;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: -1px;
  padding: 80px 0;
  position: relative; }
  .header .heading {
    position: relative; }
    .header .heading .hello {
      color: #db2b1f;
      margin-bottom: 20px; }
    .header .heading .logo {
      background: transparent url("../images/the-barn-dor-award.png") no-repeat center center;
      background-size: 192px 64px;
      display: block;
      height: 64px;
      outline: none;
      overflow: hidden;
      text-indent: -290486px;
      width: 192px;
      border: 1px solid white;
      height: 104px;
      margin: 0 auto;
      width: 232px; }
    .header .heading .tagline {
      color: white;
      font-size: 20px;
      line-height: 1.25;
      margin-top: 20px;
      padding: 0 40px; }
    .header .heading .player {
      -webkit-animation: swoosh 1000ms 1000ms linear both;
      -moz-animation: swoosh 1000ms 1000ms linear both;
      animation: swoosh 1000ms 1000ms linear both;
      background: transparent url("../images/player.png") no-repeat center center;
      background-size: 143px 128px;
      display: block;
      height: 128px;
      outline: none;
      overflow: hidden;
      text-indent: -290486px;
      width: 143px;
      left: 50%;
      margin: -71.5px 0 0 400px;
      position: absolute;
      top: 50%; }
    .header .heading .share {
      height: 20px;
      margin-top: 20px;
      opacity: 0;
      position: relative; }
      .header .heading .share .like,
      .header .heading .share .tweet {
        color: white;
        display: inline-block;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        margin: 0 10px;
        position: absolute;
        top: 0;
        vertical-align: top; }
        .header .heading .share .like a,
        .header .heading .share .tweet a {
          color: white; }
      .header .heading .share .like {
        left: 50%; }
      .header .heading .share .tweet {
        right: 50%; }
  @media screen and (min-width: 700px) {
    .header .heading .logo {
      -webkit-animation: open-curtain 2000ms ease-out both;
      -moz-animation: open-curtain 2000ms ease-out both;
      animation: open-curtain 2000ms ease-out both;
      background: transparent url("../images/the-barn-dor-award@2x.png") no-repeat center center;
      background-size: 383px 127px;
      display: block;
      height: 127px;
      outline: none;
      overflow: hidden;
      text-indent: -290486px;
      width: 383px;
      height: 207px;
      width: 463px; } }
  @media screen and (min-width: 1000px) {
    .header {
      background: url("../images/barn.jpg") center no-repeat;
      background-size: cover;
      display: table;
      height: 86vh;
      min-height: 450px;
      width: 100%; }
      .header:before {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.86);
        content: ""; }
      .header .heading {
        display: table-cell;
        vertical-align: middle; } }

.nav {
  display: none; }

.list {
  position: relative;
  top: -20px; }
  .list::after {
    clear: both;
    content: "";
    display: table; }
  .list .item {
    background: white;
    border-radius: 3px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    height: 440px;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    width: 300px; }
    .list .item .photo {
      height: 200px;
      overflow: hidden; }
      .list .item .photo img {
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        transition: all 500ms; }
      .list .item .photo:hover img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
    .list .item .index {
      background-color: #2e3136;
      background-image: -webkit-linear-gradient(#2e3136, #121212);
      background-image: linear-gradient(#2e3136, #121212);
      border-radius: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      color: white;
      display: block;
      font-size: 20px;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
      margin: -25px auto 20px;
      position: relative;
      text-align: center;
      width: 50px; }
    .list .item .nationality {
      line-height: 15px;
      margin-bottom: 10px; }
    .list .item .name {
      color: #121212;
      font-size: 24px;
      line-height: 1.125; }
    .list .item .description {
      margin-top: 10px; }
    .list .item .watch {
      bottom: 20px;
      left: 20px;
      position: absolute;
      right: 20px; }
      .list .item .watch:before {
        background: url(../images/icons.png) no-repeat 0 0;
        content: "";
        height: 16px;
        left: 11px;
        position: absolute;
        top: 11px;
        width: 16px; }
      .list .item .watch.gfycat strong {
        color: #81ab00; }
      .list .item .watch.streamable:before {
        background-position: -16px 0; }
      .list .item .watch.streamable strong {
        color: #0f90fa; }
      .list .item .watch.vine:before {
        background-position: -48px 0; }
      .list .item .watch.vine strong {
        color: #00b488; }
      .list .item .watch.youtube:before {
        background-position: -32px 0; }
      .list .item .watch.youtube strong {
        color: #cd201f; }
  @media screen and (min-width: 700px) {
    .list {
      margin: 0 auto;
      width: 640px; }
      .list .item {
        float: left;
        margin: 0 10px 20px; } }
  @media screen and (min-width: 1000px) {
    .list {
      width: 960px; } }
  @media screen and (min-width: 1300px) {
    .list {
      width: 1280px; } }

.footer {
  background: white;
  color: #9ea3ab;
  font-size: 16px;
  padding: 40px; }
  .footer .logo {
    background: transparent url("../images/the-barn-dor-award-grey@2x.png") no-repeat center center;
    background-size: 192px 64px;
    display: block;
    height: 64px;
    outline: none;
    overflow: hidden;
    text-indent: -290486px;
    width: 192px;
    border: 1px solid #ebeff5;
    height: 104px;
    margin: 0 auto;
    width: 232px; }
  .footer p {
    margin-top: 20px; }
    .footer p a {
      color: #69707a; }
      .footer p a:hover {
        color: #121212; }
  @media screen and (min-width: 700px) {
    .footer {
      text-align: left; }
      .footer .logo {
        float: right; } }
  @media screen and (min-width: 1000px) {
    .footer p {
      float: left;
      margin: 28px 40px 0 0; } }
  @media screen and (min-width: 1300px) {
    .footer p {
      margin-right: 80px; } }

/*# sourceMappingURL=main.css.map */
